In [1]:
import pandas as pd
import numpy as np

In [2]:
L = [175, 177, 179, 181, 183]

In [3]:
s = pd.Series(L)
s

0    175
1    177
2    179
3    181
4    183
dtype: int64

In [4]:
d = s.to_frame()
d

     0
0  175
1  177
2  179
3  181
4  183

In [8]:
m = (d.sum()/len(d)).values
m

array([179.])