### Tuple
* 원소를 수정, 삭제, 추가가 안 됨.
* indexing, slicing은 가능

In [21]:
data = (5,3,5,6,5,9)
data[3]

6

In [22]:
data[1:5]

(3, 5, 6, 5)

In [31]:
L = (1,3,5,7,9)
M = (2,4,6,8)

In [32]:
L + M

(1, 3, 5, 7, 9, 2, 4, 6, 8)

In [26]:
L*3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [33]:
3 in L

True

In [34]:
len(L)

5

In [35]:
L.index(5)

2

In [36]:
L.count(3)

1

In [37]:
#tuple의 요소는 수정 또는 삭제가 불가능하다.

### Set
* 집합 - 순서(index)가 없음
* 중복데이터가 없는, unique한 값들로 요소가 구성,
* 집합연산

In [38]:
s = {0,2,6,5}

In [42]:
s.remove(6)
s

{2, 5}

In [47]:
s.add(0)
s.add(6)
s.add(6)
s #set은 중복을 허용하지 않음

{0, 2, 5, 6}

In [49]:
#s[3]set은 순서와 인덱스가 없다

In [50]:
5 in s

True

In [51]:
s.clear()

In [52]:
s

set()

In [53]:
s = {4,2,6,5}

In [57]:
s.discard(4)
s

{2, 5, 6}

In [58]:
s = set() #Empty Set을 만들때 사용

In [59]:
L = [1,2,3,5,4,56,2,8,5,6,7,6,4]
set(L)

{1, 2, 3, 4, 5, 6, 7, 8, 56}

In [60]:
#집합연산.

In [61]:
a = {1,3,5,7}
b = {1,2,4,5,7,8}

In [62]:
a.union(b)

{1, 2, 3, 4, 5, 7, 8}

In [64]:
a.intersection(b)

{1, 5, 7}

In [65]:
a.difference(b)

{3}

In [67]:
a.symmetric_difference(b)

{2, 3, 4, 8}

In [68]:
a.isdisjoint(b)

False

In [69]:
a.issubset(b)

False

In [70]:
a.issuperset(b)

False

In [74]:
mytuple = ('tuple' , (1,2,3,), [4,5,6])

# 'tuple'을 출력하세요.
print(mytuple)

('tuple', (1, 2, 3), [4, 5, 6])

In [75]:
# '3'을 출력하세요.
print(mytuple[1][2])

3

In [77]:
# '4', '5'를 출력하세요.
print(mytuple[2][0:2])

[4, 5]

In [78]:
# (1,2,3,)을 출력하세요.
print(mytuple[1])

(1, 2, 3)

In [79]:
mytuple = (1,2,3,3,2,1)
yourtuple = (4,5,6)

# 두 tuple을 연결하세요
x=mytuple + yourtuple
print(x)

(1, 2, 3, 3, 2, 1, 4, 5, 6)

In [80]:
# mytuple을 3번 반복하세요
y = mytuple*3
print(y)

(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)

In [81]:
# mytuple에 3이 있는지 확인하세요
3 in mytuple

True

In [82]:
# mytuple에 3의 갯수를 확인하세요
mytuple.count(3)

2

In [83]:
# mytuple의 길이를 출력하세요
x=len(mytuple)
print(x)

6

In [84]:
# mytuple에서 2의 인덱스를 확인하세요
mytuple.index(2)

1

In [85]:
# mytuple에서 최대값을 출력하세요.
max(mytuple)

3

In [ ]:
# mytuple의 값의 합을 출력하세요,.
sum(mytuple)

In [97]:
# mytuple을 오름차순 정렬하세요.
mytuple = (1,2,3,3,2,1)
yourtuple = (4,5,6)
print(tuple(sorted(mytuple)))

(1, 1, 2, 2, 3, 3)

In [98]:
# set quiz

In [101]:
# myset이라는 원소가 없는 set을 만드세요
myset = set()

In [110]:
# 'sky'와 'earth'를 요소로 하는 set을 만드세요
myset.add('sky')
myset.add('earth')

In [111]:
# 'moon'이라는 요소를 추가하세요
myset.add('moon')

In [113]:
# 'sun'이 있는지 확인하세요
'sun' in myset

False

In [114]:
# myset의 길이를 출력하세요
len(myset)

3

In [115]:
# 모든 요소를 삭제하세요
myset.clear()

In [ ]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}

# 합집합을 구하세요
A.union(B)

In [116]:
# 교집합을 구하세요
A.intersection(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [117]:
# 차집합을 구하세요
A.difference(B)

{1, 2, 3}

In [118]:
# 대칭차집합을 구하세요
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [119]:
# (4,5,6)이 A의 부분집합인지 확인하세요
A.issubset((4,5,6))

False

In [120]:
# A가 (4,5,6)포함하는지 확인하세요.
A.issuperset((3,4,5))

True

In [121]:
# L = [1,2,3,4,3,3,3,4] 리스트에서 unique한 값만 출력하세요.
set(L)

{1, 2, 3, 4, 5, 6, 7, 8, 56}

# Dictionary(사전)

In [127]:
a : str = 'dictionary'
print(a)
b : int = 8
print(b)
type(b)

dictionary
8

int

In [128]:
list(map(lambda x: x + 10, [1,2,3]))

[11, 12, 13]

In [129]:
[n*2 for n in range(1, 10+1) if n %2 ==1] #컴프리헨션을 사용한 경우

[2, 6, 10, 14, 18]

In [132]:
a=[]                              #컴프리헨션을 사용하지 않은 경우
for n in range(1,10+1):
    if n%2==1:
        a.append(n*2)
print(a)

[2, 6, 10, 14, 18]

In [133]:
# a = {}
# for key, value in original.items():
#     a[key] = value
# a = {key : value for key, value in original.items()}

NameError: name 'original' is not defined

In [135]:
def get_natural_number():
    n=0
    while True:
        n +=1
        yield n

In [136]:
get_natural_number()

In [138]:
# g = get_natural_number()
# for _ in range(0,100):
#     print(next(g))

In [141]:
def generator():
    yield 1
    yield 'string'
    yield True

In [143]:
g = generator()
g

In [144]:
next(g)

1

In [145]:
next(g)

'string'

In [146]:
next(g)

True

# Dictionary (사전, key:value)

In [147]:
D = {'one':1, 'two':2, 'three':3}

In [148]:
D['one']

1

In [149]:
D['three']

3

In [150]:
mydic={} #s= set()

In [151]:
mydic

{}

In [152]:
mydic['math']=80

In [154]:
mydic

{'math': 80}

In [155]:
mydic['eng'] = 90

In [156]:
mydic

{'math': 80, 'eng': 90}

In [157]:
print(mydic)

{'math': 80, 'eng': 90}

In [158]:
mydic['math']=100

In [159]:
print(mydic)

{'math': 100, 'eng': 90}

In [160]:
mydic['science'] = 70

In [161]:
print(mydic)

{'math': 100, 'eng': 90, 'science': 70}

In [162]:
len(mydic)

3

In [163]:
'kor' in mydic

False

In [165]:
'eng' in mydic  #key를 기준으로 존재여부 판별

True

In [166]:
 'math' in mydic

True

In [167]:
mydic.pop('science')

70

In [168]:
print(mydic)

{'math': 100, 'eng': 90}

In [169]:
mydic.clear()

In [170]:
print(mydic)

{}

In [171]:
color = {'red':1, 'blue':3}

In [172]:
color['blue']

3

In [175]:
color.get('blue')

3

In [176]:
color.get('yellow')

In [177]:
color.values()

dict_values([1, 3])

In [178]:
color.keys()

dict_keys(['red', 'blue'])

In [179]:
color.items()

dict_items([('red', 1), ('blue', 3)])

In [181]:
color.setdefault('blue', 5)

3

In [182]:
color.setdefault('yellow',5)

5

In [185]:
print(color)
color2 = {'pink':7}

{'red': 1, 'blue': 3, 'yellow': 5}

In [187]:
color.update(color2)
print(color)

{'red': 1, 'blue': 3, 'yellow': 5, 'pink': 7}

In [199]:
#연속값을 리턴하는 함수 : range
print(list(range(5)))
print(list(range(0,5)))
print(list(range(1,51)))
print(list(range(49,0,-3)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

In [200]:
# 형변환 함수

In [201]:
int('76')

76

In [203]:
bool('1')

True

In [204]:
bool([1,2,3])

True

In [205]:
a ='hello'

In [206]:
list(a)

['h', 'e', 'l', 'l', 'o']

In [207]:
tuple(a)

('h', 'e', 'l', 'l', 'o')

In [208]:
set(a)

{'e', 'h', 'l', 'o'}

In [1]:
name = {'mary':1099, 'sams':2111, 'amy':2024, 'bob': 5877}
print(name)

{'mary': 1099, 'sams': 2111, 'amy': 2024, 'bob': 5877}

In [2]:
# Dictionary Quiz
# mary의 값을 출력하세요
print(name['mary'])

1099

In [3]:
# key는 'kelly', value는 '7887'인 새로운 요소를 추가하세요
name.setdefault('kelly', 7887)
print(name)

{'mary': 1099, 'sams': 2111, 'amy': 2024, 'bob': 5877, 'kelly': 7887}

In [4]:
# 'mary'의 value를 2000으로 수정하세요
name['mary']=2000
print(name)

{'mary': 2000, 'sams': 2111, 'amy': 2024, 'bob': 5877, 'kelly': 7887}

In [5]:
# 'key'에 'sams'가 포함되어 있는지 확인하세요
'sams' in name

True

In [20]:
# value에 2111이 있는지 확인하세요
2111 in name.values()

True

In [7]:
# key값들을 올림차순 정렬해서 출력하세요
print(sorted(list(name)))

['amy', 'bob', 'kelly', 'mary', 'sams']

In [8]:
# value들의 합을 출력하세요
print(sum(list(name.values())))

19899

In [9]:
# key와 value의 튜플 쌍으로 출력하세요
print(name.popitem())

('kelly', 7887)

In [10]:
# 이름을 입력받은 후 해당하는 사람의 점수를 출력하도록 하세요
x=str(input())
print(name[x])

mary
2000

In [15]:
# 이름을 입력받은 후 해당 사람이 없으면 값 '3355'로 새로운 요소로 추가하도록 하세요
name = {'mary': 2000, 'sams': 2111, 'amy': 2024, 'bob': 5877, 'kelly': 7887}
y=str(input())
if y not in name:
    name.setdefault(y,3355)
else:
    print(name[y])

tom

In [16]:
print(name['tom'])

3355

In [18]:
# 'Jane'의 값을 출력하고, 없으면 3000을 출력하도록 하세요
print(name.get('Jane',3000))

3000

In [22]:
e = [1,2,3,2,45,44,65,7]
enumerate(e)

In [23]:
list(enumerate(e))

[(0, 1), (1, 2), (2, 3), (3, 2), (4, 45), (5, 44), (6, 65), (7, 7)]

In [28]:
a = ['a1', 'b2', 'c3']
i =0
for v in a:
    print(i,v)
    i +=1

0 a1
1 b2
2 c3

In [29]:
for i, v in enumerate(a):
    print(i, v)

0 a1
1 b2
2 c3

In [30]:
print('aa', end = ' ')
print('bb')

aa bb

In [31]:
a = ['A', 'B']
print(a)
print(' '.join(a))

['A', 'B']
A B

In [37]:
password = 1234

# 패스워드를 입력받은 후 패스워드가 일치하면 '환영합니다. 어서오세요', 일치하지 않으면
# '패스워드가 일치하지 않습니다'를 출력
x = int(input())
if x == password :
    print("환영합니다. 어서오세요")
else:
    print("패스워드가 일치하지 않습니다")

321
패스워드가 일치하지 않습니다

In [41]:
# 임의의 두 정수를 입력받은 후, 어느 값이 더 큰 값인지 아니면 값이 같은지를 출력하는 코드
# 'a'와 'b'는 같습니다
# 'a'가 'b'보다 큽니다
# 'b'가 'a'보다 큽니다
a : int = 3
b : int = 5
if a == b :
    print("'a'와 'b'는 같습니다")
elif a > b :
    print("'a'가 'b'보다 큽니다")
else:
    print("'b'가 'a'보다 큽니다")

'b'가 'a'보다 큽니다

In [35]:
class MyClass(object):
    def method_a(self):
        pass             #pass는 널연상으로 아무것도 하지 않는 기능이다.
    def method_b(self):
        print("Method B")
c = MyClass()

In [43]:
# 임의의 정수를 받아서 짝수이면 '짝수입니다', 홀수이면 '홀수입니다.'
m = int(input())
if m%2 == 0:
    print("EVEN")
else:
    print("ODD")

2
EVEN

In [2]:
# 주민번호 앞 6자리와 뒤 1자리를 입력받은 후
# => 당신의 나이는 **이고, 성별은 **입니다.

ssn = input()
year = int(ssn[:2])
age = 120-year
print("age", age)
if int(ssn[6]) ==1 :  ########### 반드시 조건식에서 int로 형변환 해줄것!!!!!
    print("당신의 나이는 {}이고, 성별은 남자입니다.".format(age))
else :
    print("당신의 나이는 {}이고, 성별은 여자입니다.".format(age))

999294948434
age 21
당신의 나이는 21이고, 성별은 여자입니다.

In [6]:
# 나이를 입력받은 후, 
# 20세 미만이면 => "나이가 너무 어립니다"
# 20세 이상 50세 미만이면 => "적합한 나이입니다"
# 50세 이상 => "나이가 초과되셨습니다"
age1 = int(input())
if age1<20 :
    print("나이가 너무 어립니다")
elif age1>=20 and age1<50:
    print("적합한 나이입니다")
else:
    print("나이가 초과되셨습니다")

44
적합한 나이입니다

In [13]:
# 점수를 입력받은 후,
#  "90점 이상이면 'A'학점입니다"를 출력
#  "80점 이상 90점 미만이면 'B'학점입니다."
#  "70점 이상 80점 미만이면 'C'학점입니다."
#  "60점 이상 70점 미만이면 'D'학점입니다."

score = int(input())
if score>=int(90) :
    print("90점 이상이면 'A'학점입니다")
elif score >=int(80) and score <int(90):
    print("'B'학점입니다.")
elif score >=int(70) and score <int(80):
    print("'C'학점입니다.")
else:
    print("'D'학점입니다.")

88
'B'학점입니다.

In [15]:
# Big O 계산
for n in range(1, 15+1):
    print(n, n **2, 2**n)

1 1 2
2 4 4
3 9 8
4 16 16
5 25 32
6 36 64
7 49 128
8 64 256
9 81 512
10 100 1024
11 121 2048
12 144 4096
13 169 8192
14 196 16384
15 225 32768

In [29]:
name = {'mary':95, 'sams':50, 'amy':87, 'bob': 65}
sur_name = str(input())
if sur_name in name.keys():
    print(name[sur_name])
    
else:
    name[sur_name]= 50
    print(name)

mary
95

In [31]:
# 임의의 이름을 입력 받은 후 name에 이름이 있으면서, 점수가 80점 이상이면 "합격입니다."
# 80점 미만이면 "불합격입니다." 이름이 없으면, "이름이 없습니다"를 출력
name = {'mary':95, 'sams':50, 'amy':87, 'bob': 65}

ee = input()
if ee in name:
    if int(name[ee]) >=80:
        print("합격입니다")
    else:
        print("불합격입니다")
else:
    print("이름이 없습니다")

shit
이름이 없습니다