In [5]:
x= range(5)
for i in x:   
    print(i)

0
1
2
3
4

In [9]:
set_ex = {9,7,6,4,3,2,1}
for i in set_ex:
    print(i)

1
2
3
4
6
7
9

In [10]:
# enumerate()   #인덱스랑 함께 프린트함
x = [9,8,6,54,3,2,1]
for i, a in enumerate(x):
    print("인덱스{}, 벨류{}".format(i,a))

인덱스0, 벨류9
인덱스1, 벨류8
인덱스2, 벨류6
인덱스3, 벨류54
인덱스4, 벨류3
인덱스5, 벨류2
인덱스6, 벨류1

In [15]:
L = [1,2,3,4,5]
for i, j in enumerate(L):
    print("{},{}".format(i,j), end =' ')

0,1 1,2 2,3 3,4 4,5

In [17]:
print(list(range(4)))
print(list(range(2,20,3)))

[0, 1, 2, 3]
[2, 5, 8, 11, 14, 17]

In [18]:
for data in range(1,10,2):
    print(data+1 , data*2)

2 2
4 6
6 10
8 14
10 18

In [19]:
for i in 'python':
    print(i, end=' ')

p y t h o n

In [20]:
for i in 'python':
    x= i.upper()
    print(x, end=' ')

P Y T H O N

In [88]:
class student:
    x = 5
L = [1,2,3]
s1 = student()
s2 = student()
L.append(s1)
a = L[-1]
a.x

# print(L)

5

In [27]:
for x in [1,2,3,4,5]:
    for y in [2,4,6,8,10]:
        print(x,y, end = ' / ')
    print()

1 2 / 1 4 / 1 6 / 1 8 / 1 10 /
2 2 / 2 4 / 2 6 / 2 8 / 2 10 /
3 2 / 3 4 / 3 6 / 3 8 / 3 10 /
4 2 / 4 4 / 4 6 / 4 8 / 4 10 /
5 2 / 5 4 / 5 6 / 5 8 / 5 10 /

In [28]:
for a in {1,2,3}:
    for b in {4,5}:
        print(a,b)

1 4
1 5
2 4
2 5
3 4
3 5

In [30]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}
for x in score:
    print(x)

4
2
1
5
3

In [37]:
sum2 = 0
i=0
while i <=10:
    sum2 += i
    i +=1
print(sum2)

55

In [36]:
# 1부터 10까지 합을 구하시오
sum1 = 0
for i in range(1,11):
    sum1 += i
print(sum1)

55

In [49]:
# 영어모음 ['a', 'e', 'i','o','u']
# 아래 text에서 모음의 갯수를 구하시오.
text = 'python programming is fun!'
count = 0
for i in text:
    if i in ['a', 'e', 'i','o','u','!',' ']:
        count +=1
print(len(text) - count)

16

In [53]:
#List Comprehension

L1 = [i for i in range(5)]
print(L1)

[0, 1, 2, 3, 4]

In [60]:
[i*j for i in [1,2,4] for j in [3,5,6]]

[3, 5, 6, 6, 10, 12, 12, 20, 24]

In [62]:
K1 = []
for i in range(1,11):
    if i%2 ==0:
        K1.append(i)
print(K1)

[2, 4, 6, 8, 10]

In [70]:
# text = "python is fun!!"에서 모음만 리스트에 담아서 리턴하시오..
# =>for문, List Comprehension

L1 = []
text = "python is fun!!"
for i in text:
    if i in ['a', 'e', 'i','o','u']:
        L1.append(i)
print(L1)

['o', 'i', 'u']

In [73]:
L2 = [i for i in text if i in ['a', 'e', 'i','o','u']]
print(L2)

['o', 'i', 'u']

In [80]:
# 1~10 사이 정수에서 3의 배수만 리스트에 담아서 리턴.

L3= [ i for i in range(1,11) if i%3 ==0 ]
print(L3)

[3, 6, 9]

In [84]:
# text에서 짝수번 인덱스만 리스트에 담아서 리턴하시오..
L5 = [j for i, j in enumerate(text) if i%2 ==0]
print(L5)

['p', 't', 'o', ' ', 's', 'f', 'n', '!']

In [85]:
# 1~100까지 정수의 짝수들의 합을 구하시오.
summ=0
for i in range(1,101):
    if i%2==0:
        summ+=i
print(summ)

2550

In [96]:
# text에서 각 단어의 길이를 "단어 : 단어길이" 형식으로 출력하시오..

text = "be pround of data analyst"
L = text.split()
print(L)
for i in L:
    print(i ,':', len(i) )

['be', 'pround', 'of', 'data', 'analyst']
be : 2
pround : 6
of : 2
data : 4
analyst : 7

In [105]:
# colors와 things의 모든 요소의 튜플 조합을 리스트에 담으시오..
# [('red, 'house'), ('red', 'car'), ('red', 'tree') ...]

colors = ['red', 'green', 'yellow', 'blue']
thing = ['house', 'car', 'tree']

L=[(i,j) for i in colors for j in thing]
print(L)

[('red', 'house'), ('red', 'car'), ('red', 'tree'), ('green', 'house'), ('green', 'car'), ('green', 'tree'), ('yellow', 'house'), ('yellow', 'car'), ('yellow', 'tree'), ('blue', 'house'), ('blue', 'car'), ('blue', 'tree')]

In [107]:
#while 조건식: 
#     while 조건식 :
#         실행코드1
#         실행코드2
#  조건식이 True이면 실행코드를 실행하고, 조건식이 False가 될때 종료

In [108]:
# break, continue
# 1. break
#  반복문을 반복실행하다가 break가 실행되면 반복문을 빠져나오게 된다.

# 2. continue
#  반복문을 반복실행하다가 continue가 실행되면 continue 아래 코드를 실행하지 않고
#  반복문의 처음으로 돌아와서 반복문을 계속 실행핟.

In [111]:
#break를 사용해서 0~5까지만 출력..
i = 0
while i <=10:
    print(i)
    if i >4:
        break
    i +=1

0
1
2
3
4
5

In [118]:
# 아래의 1~10까지 출력하는 코드에서 break와 cotinue를 활용해서 4,5,6,7만 출력하도록 

i=0
while i <=10:
    i+=1
    if i<4:
        continue
    print(i)
    if i >=7:
        break

4
5
6
7

In [119]:
# 글자의 길이가 4 이상인 단어만 리스트에 담으시오.

words = ['mountain', 'sea', 'sky', 'river', 'cloud']
L2 = [i for i in words if len(i) >=4]
print(L2)

['mountain', 'river', 'cloud']

In [121]:
# 글자의 길이가 4 이상인 단어의 수는 몇인가.
count = 0
for i in words:
    if len(i)>=4:
        count+=1
    
print(count)

3

In [159]:
# words에서 알파벳순서에 따라
#  => 1번 : cloud 
#  => 2번 : mountain
#  => 3번 : river
L =[]
for i, a in enumerate(sorted(words)):
    if len(a)>=4:
        L.append(a)
        print("{}번 : {}".format(i,a))

0번 : cloud
1번 : mountain
2번 : river

In [153]:
# 점수를 5회 입력받은 후
# "점수 평균은 ***입니다"
sum1  = 0
for i in range(5):
    x =int(input())
    sum1 +=x
avg = sum1/5
print("점수 평균은 {}입니다.".format(avg))

1
2
3
4
5
점수 평균은 3.0입니다.

words = {'mountain':'산', 'sea': '바다', 'sky' : '하늘', 'river' : '강', 'cloud': '구름'}

In [163]:
# words = {'mountain':'산', 'sea': '바다', 'sky' : '하늘', 'river' : '강', 'cloud': '구름'}
# 전환해서 출력

words = ['mountain', 'sea', 'sky', 'river', 'cloud']
kor = ['산', '바다', '하늘', '강', '구름']
di = {}
for i, a in enumerate(words):
    di.setdefault(a, kor[i])
print(di)

{'mountain': '산', 'sea': '바다', 'sky': '하늘', 'river': '강', 'cloud': '구름'}

In [170]:
# 모음은 모음끼리, 모음이 아닌 문자열은 별도의 리스트에 각각 담아서 리턴하시오..
# ['a', 'e', 'i','o','u']
Text = "Python programming is useful"
vowel = ['a', 'e', 'i','o','u']
vlist=[]
clist= []
for i in Text:
    if i in vowel:
        vlist.append(i)
    else:
        clist.append(i)
print(vlist)
print(clist)

['o', 'o', 'a', 'i', 'i', 'u', 'e', 'u']
['P', 'y', 't', 'h', 'n', ' ', 'p', 'r', 'g', 'r', 'm', 'm', 'n', 'g', ' ', 's', ' ', 's', 'f', 'l']

In [185]:
# 2중 for문을 이용하여 구구단을 출력하시오.

for i in range(1,10):
    for j in range(1,10):
        result = int(i*j)
        print("{} * {}= {}".format(i,j,result), end = ' ')

    print()

1 * 1= 1 1 * 2= 2 1 * 3= 3 1 * 4= 4 1 * 5= 5 1 * 6= 6 1 * 7= 7 1 * 8= 8 1 * 9= 9
2 * 1= 2 2 * 2= 4 2 * 3= 6 2 * 4= 8 2 * 5= 10 2 * 6= 12 2 * 7= 14 2 * 8= 16 2 * 9= 18
3 * 1= 3 3 * 2= 6 3 * 3= 9 3 * 4= 12 3 * 5= 15 3 * 6= 18 3 * 7= 21 3 * 8= 24 3 * 9= 27
4 * 1= 4 4 * 2= 8 4 * 3= 12 4 * 4= 16 4 * 5= 20 4 * 6= 24 4 * 7= 28 4 * 8= 32 4 * 9= 36
5 * 1= 5 5 * 2= 10 5 * 3= 15 5 * 4= 20 5 * 5= 25 5 * 6= 30 5 * 7= 35 5 * 8= 40 5 * 9= 45
6 * 1= 6 6 * 2= 12 6 * 3= 18 6 * 4= 24 6 * 5= 30 6 * 6= 36 6 * 7= 42 6 * 8= 48 6 * 9= 54
7 * 1= 7 7 * 2= 14 7 * 3= 21 7 * 4= 28 7 * 5= 35 7 * 6= 42 7 * 7= 49 7 * 8= 56 7 * 9= 63
8 * 1= 8 8 * 2= 16 8 * 3= 24 8 * 4= 32 8 * 5= 40 8 * 6= 48 8 * 7= 56 8 * 8= 64 8 * 9= 72
9 * 1= 9 9 * 2= 18 9 * 3= 27 9 * 4= 36 9 * 5= 45 9 * 6= 54 9 * 7= 63 9 * 8= 72 9 * 9= 81

In [188]:
#
"""
*
**
***
****
*****
"""
for i in range(0,6):
    print('*'*i)

*
**
***
****
*****

In [190]:
for i in range(6,0,-1):
    print('*'*i)

******
*****
****
***
**
*

In [194]:
for i in range(0,5):
    print(' '*(5-i), '*'*i)

     *
    **
   ***
  ****

In [195]:
for i in range(6,0,-1):
    print(' '*(5-i), '*'*i)

 ******
 *****
  ****
   ***
    **
     *

In [199]:
 address = "1.1.1.1"
address.split('.')

['1', '1', '1', '1']

In [202]:
d = {4: 'c', 5: 'o', 6: 'd', 7: 'e', 0: 'l', 2: 'e', 1: 'e', 3: 't'}

In [203]:
sorted(d.items(), key = lambda x:x[0])

[(0, 'l'),
 (1, 'e'),
 (2, 'e'),
 (3, 't'),
 (4, 'c'),
 (5, 'o'),
 (6, 'd'),
 (7, 'e')]

In [205]:
Lsorted(d.items(), key = lambda x:x[1])

[(4, 'c'),
 (6, 'd'),
 (7, 'e'),
 (2, 'e'),
 (1, 'e'),
 (0, 'l'),
 (5, 'o'),
 (3, 't')]