In [ ]:
# cell선택 > a > 새로운 cell 위로 추가
# cell선택 > b > 새로운 cell 아래로 추가

### String

In [1]:
text = "python"
num = 123456
num1 = "123456"
text1 = "python world"

In [4]:
# 여러줄 문자열 => """   """
text = """hello
world
python is fun!!"""

In [5]:
text

'hello\nworld\npython is fun!!'

In [6]:
s = "hello "python""

SyntaxError: invalid syntax (<ipython-input-6-d5a2e4325c1d>, line 1)

In [7]:
s = "hello 'python'"
s = 'hello "python"'
s

'hello "python"'

In [8]:
# index

text  =  "python programming"

In [9]:
# g
text[10]

'g'

In [10]:
# n
text[5]

'n'

In [12]:
# tho
text[2:5]

'tho'

In [13]:
text[:6]

'python'

In [14]:
text[6:]

' programming'

In [15]:
len(text)

18

In [16]:
text[1:19:2]

'yhnpormig'

In [17]:
't' in text

True

In [19]:
's' in text

False

In [20]:
txt1 = "A tale that was no right"
txt2 = "이 또한 지나가리라"

In [21]:
# 1. 'e'를 출력
# 2. '라'를 출력
# 3. 'ale'를 출력
# 4. '가리라'를 출력
# 5. txt1에서 'tale'이 있는지 확인
# 6. txt2의 원소의 길이를 출력
# 7. txt2에서 짝수번 인덱스 값을 출력
# 8. txt1에서 뒤에  5개 요소 출력
# 9. txt2에서 '또한'을 출력
# 10. txt1과 txt2를 space로 이어 붙이시오..
# 11. txt1을 3번 반복하세요..

In [37]:
print(txt1[5])
print(txt2[-1])
print(txt2[-3:])
print(txt1[3:6])
print('tale' in txt1)
print(len(txt2))
print(txt2[0:12:2]) # txt2[::2]
print(txt1[-5:])
print(txt2[2:4])
print(txt1 +' '+ txt2)
print(txt1 * 3)

e
라
가리라
ale
True
10
이또 나리
right
또한
A tale that was no right 이 또한 지나가리라
A tale that was no rightA tale that was no rightA tale that was no right

In [38]:
text = 'alice wonderland'

In [39]:
text.upper()

'ALICE WONDERLAND'

In [40]:
text.lower()

'alice wonderland'

In [41]:
text.title()

'Alice Wonderland'

In [42]:
state = "mississippi"

In [43]:
state.count('s')

4

In [44]:
state.count('ssi')

2

In [45]:
state.count('s', 5)  # 5번 인덱스부터 이후 몇 개 존재?

2

In [46]:
state.count('s', 3, 10)

3

In [47]:
state.find('s')  # 특정 요소가 몇 번 인덱스에 있는지

2

In [49]:
state.find('p')

8

In [50]:
L = ['alice', 'bob','cindy']
' '.join(L)   # list의 요소를 이어서 str로 변환

'alice bob cindy'

In [51]:
'-'.join(L)

'alice-bob-cindy'

In [52]:
':'.join(L)

'alice:bob:cindy'

In [53]:
text = "python is fun!!"
text.split()   # split : 문자열을 나누어서 리스트에 요소로 담아서 리턴..

['python', 'is', 'fun!!']

In [54]:
d  = '2016/12/25'
d.split('/')

['2016', '12', '25']

In [ ]:
# 이메일을 입력받은 후 => "당신의 아이디는 ***입니다."

In [62]:
email = input('이메일을 입력하세요')
email

이메일을 입력하세요sdljkfds@gmail.com

'sdljkfds@gmail.com'

In [64]:
temp = email.split('@')
temp

['sdljkfds', 'gmail.com']

In [65]:
temp[0]

'sdljkfds'

In [66]:
"당신의 아이디는 {}입니다.".format(temp[0])

'당신의 아이디는 sdljkfds입니다.'

In [68]:
text = "djfkl-dfskj-sljfdls-sfljsl"
text.split('-', maxsplit=2)

['djfkl', 'dfskj', 'sljfdls-sfljsl']

In [69]:
text.rsplit('-', maxsplit=2)

['djfkl-dfskj', 'sljfdls', 'sfljsl']

In [88]:
# 주민번호를 입력받은 후 
#"당신의 출생년도는 **, 월은 **, 일은 **, 당신의 나이는 **, 주민번호의 길이는 **입니다"

pn = input('주민번호를 입력하세요')
pn

주민번호를 입력하세요751212-2131213

'751212-2131213'

In [89]:
birth_year = '19'+ pn[:2]
birth_month = pn[2:4]
birth_day = pn[4:6]

In [90]:
age = 2020 - int(birth_year)

In [93]:
pn_length = len(pn)

In [94]:
"당신의 출생년도는 {}, 월은 {}, 일은 {}, 당신의 나이는 {}, 주민번호의 \
길이는 {}입니다".format(birth_year, birth_month, birth_day, age, pn_length)

'당신의 출생년도는 1975, 월은 12, 일은 12, 당신의 나이는 45, 주민번호의 길이는 14입니다'

In [96]:
pn = input('주민번호를 입력하세요')

birth_year = '19'+ pn[:2]
birth_month = pn[2:4]
birth_day = pn[4:6]
age = 2020 - int(birth_year)
pn_length = len(pn)

text = "당신의 출생년도는 {}, 월은 {}, 일은 {}, 당신의 나이는 {}, 주민번호의 \
길이는 {}입니다".format(birth_year, birth_month, birth_day, age, pn_length)

print(text)

주민번호를 입력하세요750303-4445556
당신의 출생년도는 1975, 월은 03, 일은 03, 당신의 나이는 45, 주민번호의 길이는 14입니다

### List

In [97]:
score = [80, 90, 75, 'python', 'hello', 75.3, True]

In [98]:
score[3]

'python'

In [99]:
score[-2]

75.3

In [100]:
score[2] = 100
score

[80, 90, 100, 'python', 'hello', 75.3, True]

In [102]:
score[3][2:4]

'th'

In [104]:
# 'hello'의 length
len(score[-3])

5

In [105]:
# 빈 리스트
L = []
L = list()

In [106]:
score

[80, 90, 100, 'python', 'hello', 75.3, True]

In [107]:
score[1:4]

[90, 100, 'python']

In [109]:
score[:3]

[80, 90, 100]

In [110]:
score[3:]

['python', 'hello', 75.3, True]

In [111]:
score[2: 7: 3]

[100, 75.3]

In [112]:
L1 = [1,3,4,5,6]
L2 = [4,7]

In [113]:
L1 + L2

[1, 3, 4, 5, 6, 4, 7]

In [114]:
L2 * 2

[4, 7, 4, 7]

In [115]:
5 in L1

True

In [116]:
100 in L1

False

In [117]:
len(L1)

5

In [118]:
L = [6,8,2,9,5]

In [120]:
sum(L)

30

In [121]:
max(L)

9

In [122]:
min(L)

2

In [123]:
len(L)

5

In [124]:
sorted(L)  # 정렬 : 원본 반영은 안 됨. 정렬결과를 리턴

[2, 5, 6, 8, 9]

In [126]:
L.sort() # 정렬 : 원본 반영, 결과를 리턴하지는 않음.

In [127]:
L

[2, 5, 6, 8, 9]

In [128]:
L

[2, 5, 6, 8, 9]

In [130]:
L.append(100)
L

[2, 5, 6, 8, 9, 100]

In [131]:
L.append('python')
L

[2, 5, 6, 8, 9, 100, 'python']

In [132]:
L.insert(1, 77)
L

[2, 77, 5, 6, 8, 9, 100, 'python']

In [133]:
100 in L

True

In [134]:
L.count(100)

1

In [135]:
L.append(100)
L.count(100)

2

In [136]:
L

[2, 77, 5, 6, 8, 9, 100, 'python', 100]

In [137]:
L.pop(1)
L

[2, 5, 6, 8, 9, 100, 'python', 100]

In [138]:
L.remove(100)

In [139]:
L

[2, 5, 6, 8, 9, 'python', 100]

In [140]:
L.index('python')

5

In [141]:
L.reverse()

In [142]:
L

[100, 'python', 9, 8, 6, 5, 2]

In [143]:
L.clear()

In [144]:
L

[]

In [145]:
del L

In [147]:
score

[80, 90, 100, 'python', 'hello', 75.3, True]

In [148]:
score1 = score.copy()

In [149]:
score1

[80, 90, 100, 'python', 'hello', 75.3, True]

In [150]:
# List Exercise

In [15]:
solarsys = ['태양','수성','금성','지구','화성','목성','지구']
solarsys1 = ['토성','천왕성','해왕성']

In [16]:
# 1. 행성의 이름을 입력받은 후 solarsys에 있는지 확인하시오.
name = input('행성의 이름을 입력하세요')
name in solarsys

행성의 이름을 입력하세요

False

In [18]:
# 2. 입력받은 행성이 몇 번째 인덱스에 있는지 확인하시오.
name = input('행성의 이름을 입력하세요')
solarsys.index(name)

행성의 이름을 입력하세요지구

3

In [19]:
# 3. 입력받은 행성을 solarsys의 맨 마지막에 추가하시오.
solarsys.append('명왕성')
solarsys

['태양', '수성', '금성', '지구', '화성', '목성', '지구', '명왕성']

In [20]:
solarsys

['태양', '수성', '금성', '지구', '화성', '목성', '지구', '명왕성']

In [21]:
# # - 지금부터 문제는 solarsys list를 기준으로 풀이하시오
# 4. ['수성','금성','지구']를 출력하시오
solarsys[1:4]

['수성', '금성', '지구']

In [22]:
# 5. '지구'의 위치 인덱스를 출력하시오.
solarsys.index('지구')

3

In [23]:
# 6. '화성'을 '해왕성'으로 변경하시오.
idx = solarsys.index('화성')
solarsys[idx] = '해왕성'
solarsys

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구', '명왕성']

In [24]:
# 7. '수성' 자리에 '명왕성'을 입력하시오.
idx = solarsys.index('수성')
solarsys.insert(idx, '명왕성')
solarsys

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '명왕성']

In [ ]:
# 8. '토성'을 맨 끝에 추가하시오.
solarsys.append('토성')

In [ ]:
# 9. '금성'을 제거하시오.
solarsys.remove('금성')
solarsys

In [27]:
# 10. 2번 인덱스 요소를 삭제하시오.
solarsys.pop(2)
solarsys

['태양', '명왕성', '지구', '해왕성', '목성', '지구', '명왕성', '토성', '토성']

In [28]:
# 11. solarsys와 solarsys1을 연결하시오.
solarsys2 = solarsys + solarsys1
solarsys2

['태양', '명왕성', '지구', '해왕성', '목성', '지구', '명왕성', '토성', '토성', '토성', '천왕성', '해왕성']

In [29]:
# 12. 내림차순으로 정렬하시오.
sorted(solarsys)

['명왕성', '명왕성', '목성', '지구', '지구', '태양', '토성', '토성', '해왕성']

In [30]:
# 13. 원소의 순서를 반대로 하시오.
solarsys.reverse()

In [31]:
solarsys

['토성', '토성', '명왕성', '지구', '목성', '해왕성', '지구', '명왕성', '태양']

In [33]:
# 14. solarsys에 '만리장성'이 있는지 확인하시오.
'만리장성' in solarsys

False

In [34]:
# 15. solarsys를 3번 반복하시오.
solarsys *3

['토성',
 '토성',
 '명왕성',
 '지구',
 '목성',
 '해왕성',
 '지구',
 '명왕성',
 '태양',
 '토성',
 '토성',
 '명왕성',
 '지구',
 '목성',
 '해왕성',
 '지구',
 '명왕성',
 '태양',
 '토성',
 '토성',
 '명왕성',
 '지구',
 '목성',
 '해왕성',
 '지구',
 '명왕성',
 '태양']

In [35]:
# 16. solarsys의 길이를 리턴하시오.
len(solarsys)

9

In [36]:
# 17. solarsys의 모든 원소를 지우시오.
solarsys.clear()
solarsys

[]

In [37]:
# 18. solarsys 리스트를 삭제하시오.
del solarsys
solarsys

NameError: name 'solarsys' is not defined

In [153]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [154]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']