In [2]:
import pandas as pd
import numpy as np

In [9]:
# 첫 줄 인덱스로 읽는 방법
# 첫 줄 드랍해버리기


sal = pd.read_csv('Salaries1.csv', index_col = 0)
df = pd.DataFrame(sal)
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [12]:
# 1. BasePay 평균은 ?

df['BasePay'].mean()

75601.13714620461

In [19]:
# 2. OvertimePay의 최대값은?
df['OvertimePay'].max()

245131.88

In [23]:
# 3. 'JOSEPH DRISCOLL'의 직업은?
df.loc[df['EmployeeName']=='JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [43]:
df.head(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [37]:
# 4. 'TotalPayBenefits' 최고금액을 수령하는 사람의 이름은?
df.loc[df['TotalPayBenefits']==df['TotalPayBenefits'].max()].EmployeeName

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [40]:
# 5. 연도별 BasePay의 평균금액은?
df.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

In [44]:
# 6. 'JobTitle'의 종류는?
df['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ...,
       'Health Program Planner', 'Social Work Supervisor',
       'Ornamental Iron Worker'], dtype=object)

In [46]:
# 7. 'JobTitle'의 종류 중 가장 많은 JobTitle 상위 5개는 무엇인가?

'ZOO CURATOR'

In [ ]:
# 8. 2013년도에 오직 한 사람만 종사하고 있는 JobTitle은?
# 9. 'Chief'라는 직업을 가진 사람의 수는?

In [42]:
df.head(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN